.footer {
    position: fixed; /* Footer'ı sabitliyoruz */
    bottom: 0; /* Ekranın en altına yerleştiriyoruz */
    left: 0; /* Ekranın solundan başlatıyoruz */
    width: 100%; /* Footer'ın genişliğini %100 yapıyoruz */
    background-color: #121212; /* Arka plan rengi */
    color: white;
    text-align: center;
    padding: 10px 0;
    z-index: 10; /* Üstünde yer alacak içeriklerin altında kalmasını engellemek için */
  }
  
  .footer a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }
  